<%= form_for @league, format: :json, :html =>{ multipart: true} do |f| %>
	<% if @league.errors.any? %>
	<p>The following errors were found:</p>
	  <ul>
	    <% @league.errors.full_messages.each do |message| %>
	      <li>- <%= message %></li>
	    <% end %>
	  </ul>
	<% end %>
	
	<%= f.label :is_private, "Create a private league?" %>
	<%= f.check_box :is_private   %> <br>

	<div>
		<%= f.label :name, "League Name" %> <br>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :photo, "Upload Your League Photo" %> <br>
		<%= f.file_field :photo %> 		
	</div>

	
	<%= f.submit "Create League" %>
<% end %>