<%= form_for(@user_picks) do |form| %>
		<% Discipline.all.each do |f| %>
			<div class="panel-heading">
				<h4 class="panel-title"><a href=""><%= f.name %></a></h4>
			</div>
			<% f.events.all.each do |event|  %>
				<div>
					<%= event.name %>
					<%= select_tag("user_pick[event_id][#{event.id}][country_id][]", options_from_collection_for_select(event.countries, "id", "name")) %>
				</div>
		<% end %>
		<% end %>
			<%= form.submit %>
		<% end %>
				
	