<%= form_for(@user_pick) do |form| %>
	
		<% Discipline.all.each do |f| %>
			<div class="panel-heading">
				<h4 class="panel-title"><a href=""><%= f.name %></a></h4>
			</div>
			<% f.events.all.each do |event|  %>
				<div>
					<%= event.name %>				
					<%= form.hidden_field :event_id, :value => event.id %>
					<%= select(:user_pick, :country_id, event.countries.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
				</div>

				<% end %>
			<% end %><%= form.submit %>
			<% end %>
	