<h1>Add New Country</h1>
<%= form_for [:admin, @country] do |form| %>
<% if @country.errors.any? %>
	<ul>
	  <% @country.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
<% end %>

  Country Name: <%= form.text_field :name %> <br>
  Country Code: <%= form.text_field :code %> <br>
  Flag Image: <%= form.file_field :flag %> <br>

  <%= form.submit %>
<% end %>