<h1> <% @discipline.name %></h1>
<% @discipline.each do |discipline| %>
	<p>Discipline: <%= discipline.name %></p>	
	<%= image_tag discipline.photo(:medium) %> <br>
	<% discipline.events.each do |f| %>
		<li><%= f.name %></li>
	<% end %>
	<%= link_to "Edit", edit_admin_discipline_path(discipline) %>
	<%= link_to 'Delete', admin_discipline_path(discipline),
            :confirm => 'Are you sure?', :method => :delete %> 

<% end %>